<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="infoT2.DAL.Properties.Settings.db_info_T2_NOITEConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=db_info_T2_NOITE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>