<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="info.DAL.Properties.Settings.db_infoConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=db_info;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>